html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	color: #000000;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	overflow: hidden;
}

form {
	margin: 0;
	padding: 0;
}

#content {
	width: 100% !important;
	height: 100% !important;
	overflow-y: scroll;
	overflow-x: hidden;
}

.printRemove, .navigation, .title h2, .entries, .sidebar, .headline {
	display: none !important;
}

.printShow {
	display: block !important;
}
