
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	color: #000000;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	overflow: hidden;
}

form {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100% !important;
	height: 100% !important;
	border-spacing: 10px;
}

.wrapper td {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.content {
	width: 100% !important;
	height: 100% !important;
	overflow-y: scroll;
	overflow-x: hidden;
}

.printRemove, .navigation, .title h2, .entries, .sidebar, .headline {
	display: none;
}

.printShow {
	display: block;
}
.title h1 {
	font-size: 1.7em;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
