body {
	padding-bottom: 0px !important;
}
ul li a {
	color: #000000;
	text-decoration: none;
}
.nav ul {
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
	list-style-image: none;
}
.nav-list .active, .nav-list .active :hover {
	background-color: #0088CC;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
}
.nav-list .active a, .nav-list .active a :hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
}
.nav-list > li > a {
	padding: 0px 15px;
}
.inactive :hover {
	background-color: #EEEEEE;
}
ul.group>li>div>a.editButton, ul.feed>li>div>a.editButton {
	visibility: hidden;
}
ul.group>li:hover>div>a.editButton, ul.feed>li:hover>div>a.editButton {
	visibility: visible;
}
ul#feed_1 {
	padding: 0;
}
ul.feed li {
	border-bottom: 1px solid #000000;
}
#content {
	overflow-y: scroll;
	overflow-x: hidden;
}
.entries {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 120px !important;
	width: 100%;
	font-size: 12px;
}
.entries ul {
	padding: 0;
	margin: 0;
}
.entries ul li {
	max-height: 16px;
	line-height: 16px;
}
.entries ul li a {
	padding: 0px 15px;
}

.new {
	font-weight: bold;
}

.sidebar-nav {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}

.sidebar-nav ul li {
	min-height: 16px;
}

.sidebar-nav ul li a.nameFeed {
	min-height: 16px;
	margin-right: 48px;
}

.sidebar-nav ul.group > li:first-child {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 12px;
}

.sidebar-nav ul.feed li {
	font-weight: normal;
	font-variant: normal;
	font-size: 11px;
}

.sidebar-nav ul>li:first-child a.newmessage {
	display: none;
}

.sidebar-nav ul.new>li:first-child a.newmessage {
	display: block;
}

.sidebar-nav ul.new>li:first-child a.nameFeed {
	font-weight: bold;
}

.numNewMessages {
	font-size: 10px;
	color: #808080;
}
.numNewMessages:hover {
	text-decoration: none;
}
.headline {
	width: 100%;
	color: #000000;
	font-weight: bold;
	background-color: #f0f0f0;
	font-size: 14px;
	border: 1px solid black;
}

.headline a {
	color: #000000;
}

.floatRight {
	float: right;
	/*min-width: 18px;
	min-height: 18px;*/
}
.floatLeft {
	float: left;
}
.spin {
	padding-top: 0px;
	min-width: 16px;
	min-height: 16px;
}
.loadMore {
	padding-left: 25px;
	font-style: italic;
}
.ui-draggable {
	border: 1px black solid;
	color: black;
	padding: 5px;
}
.ui-droppable {
	margin-top: 2px;
	margin-bottom: 2px;
}
.ui-droppable-hover {
	border: 1px blue solid;
	background-color: lightyellow;
	color: lightblue;
	margin-top: 2px;
	margin-bottom: 2px;
}
