html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background: #f6f6f6;
	color: #000000;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;
	overflow: hidden;
}

form {
	margin: 0;
	padding: 0;
}

ul li a {
	color: #000000;
	text-decoration: none;
}

li.hover:hover {
	background-color: gold;
}

.wrapper {
	width: 100% !important;
	height: 100% !important;
	border-spacing: 18px;
	padding: 0;
}

.wrapper td {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.wrapper td ul {
	background-color: #ffffff;
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
	list-style-image: none;
}
.wrapper td ul#feed_1 {
	padding: 0;
}

ul.feed li {
	border-bottom: 1px solid #000000;
}

.content {
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #ffffff;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
}
.navigation {
	position: absolute;
	top: 3px;
	right: 5px;
	width: 700px;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
	border: none;
}

.navigation ul li {
	float: right;
	margin: 0 10px 0 0;
	padding: 0;
	width: 125px;
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
}

.navigation ul li a {
	color: #000000;
	text-decoration: none;
}

.title {
	background-color: #1D2D44;
	min-height: 50px;
	color: white;
}
.title h1 {
	font-size: 1.7em;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.title h2 {
	font-size: 0.7em;
	font-family: Courier;
	line-height: .8em;
	margin: 0 0 0 0;
	padding: 0;
	font-weight: normal;
}

.entries {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 104px;
	background-color: #ffffff;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	font-size: 12px;
}

ul#entries {
	padding: 0;
}

.new {
	font-weight: bold;
}

.sidebar {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	background-color: #ffffff;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
}

.sidebar ul li {
	min-height: 16px;
}

.sidebar ul li div.nameFeed {
	min-height: 16px;
}

.sidebar ul.group > li:first-child {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 12px;
}

.sidebar ul.feed li {
	font-weight: normal;
	font-variant: normal;
	font-size: 11px;
}

.sidebar ul>li:first-child a.newmessage {
	display: none;
}

.sidebar ul.new>li:first-child a.newmessage {
	display: block;
}

.sidebar ul.new>li:first-child>div a.nameFeed {
	font-weight: bold;
}

.numNewMessages {
	font-size: 10px;
	color: #808080;
}

.headline {
	width: 100%;
	color: #000000;
	font-weight: bold;
	background-color: #f0f0f0;
	font-size: 14px;
	border: 1px solid black;
}

.headline a {
	color: #000000;
}

.headline a#iframe {
	float: right;
}

.floatRight {
	float: right;
	/*min-width: 18px;
	min-height: 18px;*/
}
.floatLeft {
	float: left;
}
.spin {
	padding-top: 0px;
	min-width: 16px;
	min-height: 16px;
}
.loadMore {
	padding-left: 25px;
	font-style: italic;
}
